@media (max-width: 40rem) {
    .secCol > div > img.borRouTL,
    .secCol > div > img.borRouTR,
    .secCol > div > img.borRouBR,
    .secCol > div > img.borRouBL {
        /* Remove rounded corner when it is vertically align
        Todo: change so that is can remove at the same time when the layout
        switch vertically because of flex-basis */
        border-radius: 0;
    }

    #footerLogo {
        /* Make the other element to new line */
        flex-basis: 40rem;
    }
}